spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 50
      minimum-idle: 20
      connection-timeout: 30000
  data:
    redis:
      host: ${REDIS_HOST}
      port: 6379
  jpa:
    show-sql: false

logging:
  level:
    root: WARN
    com.creditapp: INFO
